.list-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100px;
  &__edit-button,
  &__errase-button {
    height: 35%;
    width: 50%;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
  &__edit-button {
    border: 2px solid green;
    color: green;
    &:hover,
    &:focus {
      background-color: green;
      color: white;
    }
  }
  &__errase-button {
    border: 2px solid red;
    color: red;
    &:hover,
    &:focus {
      background-color: red;
      color: white;
    }
  }
}
